@import '../../styles/palette.scss';

.inside-anchor, .inside-anchor:hover{
  text-decoration: none;
  color: #FFF;
}

.footer {
  display:flex;
  p, .check-container, .btn{
    align-self: flex-end;
  }
  .check-container, .btn {
    margin-left: auto;
  }
  .checkmark-div{
    height: 3em;
    border: 0.2em solid $shadow1;
    border-radius: 50%;
    padding: 0.2em;
    background-color: $color1;
    .checkmark {
      width: 2em;
      height: 2em;
      color: $color4;
    }
  }
}

.quest-list-items {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  .quest-item {
    height:0%;
    display: flex;
    flex-direction: column;
    border: 0.2em solid $color2;
    padding: 1em;
    margin: 1em;
    background-color: $color4;
    opacity: 75%;
    max-width: 45vw;
    min-width: 400px;
    .quest-footer {
      display: flex;
      align-items: flex-end;
      .username {
        margin: auto;
      }
      button {
        margin-left: auto;
      }
    }
    p, h3 {
      color: $color1;
    }
    .quest-item:hover {
      opacity: 100%;
    }
    .btn-group, .btn-group-vertical {
      display: flex;
      margin-left: auto;
    }
    .alert {
      margin-top: 1em;
      display: flex;
      align-items: center;
      p {
        text-justify: center;
        color: $color4;
      }
      button {
        margin-left: auto;
      }
    }
  }
}

.footer {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  .assisting {
    max-width: 25%;
  }
  .email-link {
    color: #FFF;
    text-decoration: none;
  }
  .all-btns {
    display: flex;
    .btn-group {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .all-btns {
    width: 100%;
  }
}