@import '../../styles/palette.scss';

.profile {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    border-radius: 50%;
    margin: 1em;
  }

  .start {
    font-weight: bold;
  }

  h2 {
    font-family: $title;
    text-shadow: 1px 1px $shadow1;
  }

  h2, td {
    color: $color1;
  }

  .table-bordered th, .table-bordered td {
    border: 1px solid $color2; 
  }

}
