@import "../../styles/palette.scss";

.guest-profile {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  h3 {
    text-align: center;
    margin: 0;
  }
  .user-details {
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;
    img {
      border-radius: 50%;
      margin: 1em;
      max-width: 200px;
    }
  }
  p {
    color: $highlight1;
  }
}
