@import '../../styles/palette.scss';


.quest-item {

  display: flex;
  flex-direction: column;
  border: 0.2em solid $color2;
  padding: 1em;
  margin: 1em;
  background-color: $color4;
  opacity: 75%;

  p, h3 {
    color: $color1;
    text-align: left;
  }
  button {
    align-self: flex-end;
  }
}

.quest-item:hover {
  opacity: 100%;
}

.quest-footer {
  display: flex;
  margin-left: auto;
  button {
    margin: 0.5em;
  }
}

.check-container {
  display: flex;
  justify-content: flex-end;
  .checkmark-div{
    border: 0.2em solid $shadow1;
    border-radius: 50%;
    padding: 0.2em;
    background-color: $color1;
    .checkmark {
      width: 2em;
      height: 2em;
      color: $color4;
    }
  }
}

  @media only screen and (min-width: 1024px) {
  
    .quest-item {
      width: 40em
    }
  }


