@import '../../styles/palette.scss';

main {
  font-family: $paragraph;
  background-color: $color3;
  background-image: $background;
  display: flex;
  flex-direction: column;
  padding: 1em;
  min-height: 60vh;
}

.custom-select:focus  {
  border-color: $shadow1 !important;
  box-shadow: 0 0 0 0.2rem $highlight1 !important;
}

button {
  align-self: flex-end;
}