@import "~bootstrap/scss/bootstrap";
@import '../../styles/palette.scss';

main {
  font-family: $paragraph;
  background-image: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
}