@import '../../styles/palette.scss';

main {
  font-family: $paragraph;
  background-color: $color3;
  background-image: $background;
  display: flex;
  flex-direction: column;
  padding: 1em;
  min-height: 60vh;
}