.chatInput {
  background-color: lightseagreen;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input {
  width: 40rem;
  border-radius: 25px;
  padding-left: 1em;
}

button {
  margin-left: 1em;
}