@import '../../styles/palette.scss';

.badgeHover {
  position: absolute;
  background-color: whitesmoke;
  padding: 1em;
  z-index: 10;
}
h4, p {
  text-align: center;
}

h4 {
  font-family: $title;
}

p {
  color: black;
}