@import '../../styles/palette.scss';

// FIX TEXT ALIGN ON P (LEFT)
.progress-section {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex-direction: column;
    font-family: $paragraph;
    .progress-bar, span {
      margin-left: 1em;
      margin-right: 1em;
      .right {
        margin-left: 2em;
        p {
          text-align: right;
        }
      }
      .left {
        p {
          text-align: left;
        }
      }
      p {
        margin-bottom: 0;
        color: $highlight1;
      }
    }
    span {
      display: flex;
      justify-content: space-between;
    }
    .progress-bar {
      border-radius: 15px;
      padding: 0.1em;
      background-color: $color1;
      .progress-inside {
        border-radius: 15px;
        background-color: $color4;
      }
    }
  }
}