.chatMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.speechBubble {
  background-color: lightblue;
  padding: 0.5em;
  border-radius: 25px;
  
}

.userImage {
  max-width: 2em;
  max-height: 2em;
  margin-left: 1em;
}