@import '../../styles/palette.scss';

.create-quest {
  display:flex;
  flex-direction: column;
  align-items: center;
  h3 {
    margin-top: 0.5em;
    justify-self: center;
    font-family: $title;
    color: $color1;
    text-shadow: 1px 1px $shadow1; 
  }
  form {
    display: flex;
    flex-direction: column;
    input, select, textarea{
      margin-bottom: 1em;
    }
  }
  .register__actions {
    display: flex;
    button {
      margin: 0 1em;
    }
  }
}