@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import '../../styles/palette.scss';

header {
  display: flex;
  background-color: $color4;
  padding: 1em;
  h1 {
    margin-right: 1em;
  }
  span {
    display: flex;
    margin-left: auto;
    button, h3 {
      margin-right: 1em;
    }
    h3 {
      color: $color2;
      font-family: 'Kavoon';
      align-self: center;
    }
  }
}