@import '../../styles/palette.scss';

.nav-container {
  display: flex;
  background-color: $color4;
  padding: 1em;
  h1 {
    margin-right: 1em;
  }
  .nav-items {
    display: flex;
    margin-left: auto;
    button, h3 {
      margin-right: 1em;
    }
    h3 {
      color: $color2;
      font-family: $title;
      align-self: center;
    }
  }
}