@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$title: 'Crimson Text';
$paragraph: 'Roboto Condensed', sans-serif;
$background: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");

$color1: #ff9c84;
$shadow1: #C25B5D;
$highlight1: #ffc7ab;

$color2: #d47e7f;
$shadow2: #b75c7a;
$highlight2: #e6ab9c;


$color3: #a5576f;
$shadow3: #82395c;
$highlight3: #a5576f;

$color4: #60345e;
$shadow4: #361f40;
$highlight4: #754f60;

$color5: #4d224d;
$shadow5: #241533;
$highlight5: #6e4153;

