@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

$title: 'Kavoon';
$paragraph: 'Comic Neue', cursive;

$color1: #ff9c84;
$shadow1: #C25B5D;
$highlight1: #ffc7ab;

$color2: #d47e7f;
$shadow2: #b75c7a;
$highlight2: #e6ab9c;


$color3: #a5576f;
$shadow3: #82395c;
$highlight3: #a5576f;

$color4: #60345e;
$shadow4: #361f40;
$highlight4: #754f60;

$color5: #4d224d;
$shadow5: #241533;
$highlight5: #6e4153;
